node-red-prof.json
[{"id":"534a5008.40d5c","type":"tab","label":"Sala 202","disabled":false,"info":""},{"id":"cfe8f186.38785","type":"arduino out","z":"534a5008.40d5c","name":"LED","pin":"13","state":"OUTPUT","arduino":"d3cc4b10.99a638","x":319.50000381469727,"y":327.00000190734863,"wires":[]},{"id":"3878ec8f.b89684","type":"inject","z":"534a5008.40d5c","name":"LIGAR","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130.10000228881836,"y":177.00000095367432,"wires":[["88e16422.201798"]]},{"id":"ebce38c9.ee50c8","type":"inject","z":"534a5008.40d5c","name":"DESLIGAR","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113.10000228881836,"y":243.99999904632568,"wires":[["88e16422.201798"]]},{"id":"88e16422.201798","type":"mqtt out","z":"534a5008.40d5c","name":"INTERRUPTOR","topic":"led41","qos":"","retain":"","broker":"561379cd.d1ca48","x":345.5,"y":97.00000190734863,"wires":[]},{"id":"f0a4e68d.2918b8","type":"mqtt in","z":"534a5008.40d5c","name":"","topic":"led41","qos":"2","datatype":"auto","broker":"561379cd.d1ca48","x":122.5,"y":327,"wires":[["cfe8f186.38785"]]},{"id":"4fdd02e7.57690c","type":"arduino in","z":"534a5008.40d5c","name":"Temp","pin":"0","state":"ANALOG","arduino":"d3cc4b10.99a638","x":85.50000190734863,"y":430.0000057220459,"wires":[["b6b6df6a.b705e"]]},{"id":"df597e35.20a26","type":"function","z":"534a5008.40d5c","name":"","func":"msg.payload = msg.payload * 0.48828125;\nreturn msg;","outputs":1,"noerr":0,"x":391.50000381469727,"y":428.00000381469727,"wires":[["d6de74b4.890de8"]]},{"id":"d6de74b4.890de8","type":"debug","z":"534a5008.40d5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":524.5000038146973,"y":357.00000381469727,"wires":[]},{"id":"b6b6df6a.b705e","type":"delay","z":"534a5008.40d5c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":243.5,"y":430.66666984558105,"wires":[["df597e35.20a26"]]},{"id":"f2128904.2084e8","type":"ui_button","z":"534a5008.40d5c","name":"","group":"9e0a6839.ff97d8","order":2,"width":"3","height":"1","passthru":false,"label":"Ligar","tooltip":"","color":"","bgcolor":"#2E8B57","icon":"","payload":"1","payloadType":"num","topic":"","x":139.1666488647461,"y":124.88889026641846,"wires":[["88e16422.201798"]]},{"id":"b8391498.9845a8","type":"ui_button","z":"534a5008.40d5c","name":"","group":"9e0a6839.ff97d8","order":1,"width":"3","height":"1","passthru":false,"label":"Desligar","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"","x":137.1666717529297,"y":82.88888931274414,"wires":[["88e16422.201798"]]},{"id":"d3cc4b10.99a638","type":"arduino-board","z":"","device":"COM4"},{"id":"561379cd.d1ca48","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e0a6839.ff97d8","type":"ui_group","z":"","name":"Controle de Iluminação","tab":"413bef1b.b5731","disp":true,"width":"6","collapse":false},{"id":"413bef1b.b5731","type":"ui_tab","z":"","name":"Fiap - SALA 202","icon":"fa-lightbulb-o","disabled":false,"hidden":false}]