node-red-meu.json
[{"id":"39770862.a92968","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7bac25b9.70f08c","type":"tab","label":"Sala 202","disabled":false,"info":""},{"id":"957b4b9.fab6bb8","type":"tab","label":"Sala 202","disabled":false,"info":""},{"id":"bfe555d5.fa2d08","type":"arduino-board","z":"","device":"COM4"},{"id":"2b58bb75.289334","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"828ef22c.e41ec","type":"ui_group","z":"","name":"Controle de Iluminação","tab":"a2188417.fb1a78","disp":true,"width":"6","collapse":false},{"id":"a2188417.fb1a78","type":"ui_tab","z":"","name":"Fiap - SALA 202","icon":"fa-lightbulb-o","disabled":false,"hidden":false},{"id":"4d3bff24.22b65","type":"ui_group","z":"","name":"Controle de Temperatura","tab":"a2188417.fb1a78","disp":true,"width":"6","collapse":false},{"id":"e1a71440.d285a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c176f79d.484ab8","type":"mongodb","z":"","hostname":"ds241308.mlab.com","port":"41308","db":"iotscj","name":""},{"id":"6156eb1c.17e364","type":"arduino-board","z":"","device":"COM4"},{"id":"4047518a.18512","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8b11393.58c22","type":"ui_group","z":"","name":"Controle de Iluminação","tab":"200f5725.daabb8","disp":true,"width":"6","collapse":false},{"id":"920d744.a461588","type":"ui_group","z":"","name":"Controle de Temperatura","tab":"200f5725.daabb8","disp":true,"width":"6","collapse":false},{"id":"97d690ec.f6735","type":"mongodb","z":"","hostname":"ds241308.mlab.com","port":"41308","db":"iotscj","name":""},{"id":"25a4c377.7ff23c","type":"mongodb","z":"","hostname":"ds145752.mlab.com","port":"45752","db":"iotscj","name":""},{"id":"200f5725.daabb8","type":"ui_tab","z":"","name":"Fiap - SALA 202","icon":"fa-lightbulb-o","disabled":false,"hidden":false},{"id":"a6697e1b.af953","type":"arduino in","z":"39770862.a92968","name":"","pin":"","state":"INPUT","arduino":"","x":550,"y":220,"wires":[[]]},{"id":"468f098c.6685a8","type":"inject","z":"39770862.a92968","name":"LIGAR","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[[]]},{"id":"5cbd022c.c5f14c","type":"inject","z":"39770862.a92968","name":"DESLIGAR","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[[]]},{"id":"f201be87.c94fa","type":"function","z":"39770862.a92968","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[[]]},{"id":"589ade50.71e6e","type":"debug","z":"39770862.a92968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":560,"wires":[]},{"id":"88bb7699.1f8d78","type":"delay","z":"39770862.a92968","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":540,"wires":[[]]},{"id":"5796d277.42670c","type":"inject","z":"39770862.a92968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":640,"wires":[[]]},{"id":"ce713ca2.d02dd","type":"ui_button","z":"39770862.a92968","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":420,"y":60,"wires":[[]]},{"id":"64e9785d.b5a8d8","type":"ui_button","z":"39770862.a92968","name":"","group":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":360,"y":120,"wires":[[]]},{"id":"eaddaf94.acb5e","type":"arduino out","z":"7bac25b9.70f08c","name":"LED","pin":"13","state":"OUTPUT","arduino":"bfe555d5.fa2d08","x":319.50000381469727,"y":327.00000190734863,"wires":[]},{"id":"1f3b9cb0.ddeb43","type":"inject","z":"7bac25b9.70f08c","name":"LIGAR","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130.10000228881836,"y":177.00000095367432,"wires":[["e60eacc.27c015"]]},{"id":"74c05302.d7753c","type":"inject","z":"7bac25b9.70f08c","name":"DESLIGAR","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113.10000228881836,"y":243.99999904632568,"wires":[["e60eacc.27c015"]]},{"id":"e60eacc.27c015","type":"mqtt out","z":"7bac25b9.70f08c","name":"INTERRUPTOR","topic":"led41","qos":"","retain":"","broker":"2b58bb75.289334","x":345.5,"y":97.00000190734863,"wires":[]},{"id":"ea8cf520.6e5678","type":"mqtt in","z":"7bac25b9.70f08c","name":"","topic":"led41","qos":"2","datatype":"auto","broker":"2b58bb75.289334","x":122.5,"y":327,"wires":[["eaddaf94.acb5e"]]},{"id":"428bbc2.8584044","type":"arduino in","z":"7bac25b9.70f08c","name":"Temp","pin":"0","state":"ANALOG","arduino":"bfe555d5.fa2d08","x":85.50000190734863,"y":430.0000057220459,"wires":[["738c000c.04048"]]},{"id":"3d6d65a8.554aba","type":"function","z":"7bac25b9.70f08c","name":"","func":"msg.payload = msg.payload * 0.48828125;\ncontext.global.temperatura = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":391.50000381469727,"y":428.00000381469727,"wires":[["4b5a96e4.f34db8","73d4fb71.31a3d4","9dae3467.2d7ac8"]]},{"id":"4b5a96e4.f34db8","type":"debug","z":"7bac25b9.70f08c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":340,"wires":[]},{"id":"738c000c.04048","type":"delay","z":"7bac25b9.70f08c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":243.5,"y":430.66666984558105,"wires":[["3d6d65a8.554aba"]]},{"id":"5ec3b0cc.cbb0f","type":"ui_button","z":"7bac25b9.70f08c","name":"","group":"828ef22c.e41ec","order":2,"width":"3","height":"1","passthru":false,"label":"Ligar","tooltip":"","color":"","bgcolor":"#2E8B57","icon":"","payload":"1","payloadType":"num","topic":"","x":139.1666488647461,"y":124.88889026641846,"wires":[["e60eacc.27c015"]]},{"id":"f7427fb4.2471","type":"ui_button","z":"7bac25b9.70f08c","name":"","group":"828ef22c.e41ec","order":1,"width":"3","height":"1","passthru":false,"label":"Desligar","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"","x":137.1666717529297,"y":82.88888931274414,"wires":[["e60eacc.27c015"]]},{"id":"73d4fb71.31a3d4","type":"ui_gauge","z":"7bac25b9.70f08c","name":"","group":"4d3bff24.22b65","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"celsius","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":520,"wires":[]},{"id":"9dae3467.2d7ac8","type":"switch","z":"7bac25b9.70f08c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"str"},{"t":"lt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":420,"wires":[["945cd3fb.04984"],[]]},{"id":"57ac309.29493d","type":"ui_toast","z":"7bac25b9.70f08c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":910,"y":300,"wires":[]},{"id":"945cd3fb.04984","type":"function","z":"7bac25b9.70f08c","name":"","func":"msg.payload = \"Ta pegando fogo bicho!\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["57ac309.29493d","53bde850.388708"]]},{"id":"53bde850.388708","type":"ui_audio","z":"7bac25b9.70f08c","name":"","group":"4d3bff24.22b65","voice":"pt-BR","always":true,"x":860,"y":180,"wires":[]},{"id":"ce651e93.af4b6","type":"http in","z":"7bac25b9.70f08c","name":"Request","url":"temperatura","method":"get","upload":false,"swaggerDoc":"","x":220,"y":580,"wires":[["2d7108c4.55d978"]]},{"id":"2d7108c4.55d978","type":"function","z":"7bac25b9.70f08c","name":"","func":"dados = {\n    temperatura : context.global.temperatura\n}\nmsg.payload = JSON.stringify(dados);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":540,"wires":[[]]},{"id":"d146676c.f480a8","type":"mongodb out","z":"7bac25b9.70f08c","mongodb":"c176f79d.484ab8","name":"read","collection":"temperaturas-18","payonly":false,"upsert":false,"multi":false,"operation":"store","x":490,"y":900,"wires":[]},{"id":"d82cc43.d0eec38","type":"mongodb out","z":"7bac25b9.70f08c","mongodb":"c176f79d.484ab8","name":"save","collection":"temperaturas-18","payonly":false,"upsert":false,"multi":false,"operation":"store","x":290,"y":740,"wires":[]},{"id":"766945e4.da41cc","type":"inject","z":"7bac25b9.70f08c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[[]]},{"id":"38902671.55f88a","type":"debug","z":"7bac25b9.70f08c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":880,"wires":[]},{"id":"c63d4987.6780c8","type":"arduino out","z":"957b4b9.fab6bb8","name":"LED","pin":"13","state":"OUTPUT","arduino":"6156eb1c.17e364","x":319.50000381469727,"y":327.00000190734863,"wires":[]},{"id":"952624e6.936ca8","type":"inject","z":"957b4b9.fab6bb8","name":"LIGAR","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130.10000228881836,"y":177.00000095367432,"wires":[["18a9d1f7.35972e"]]},{"id":"76a8a44b.f1185c","type":"inject","z":"957b4b9.fab6bb8","name":"DESLIGAR","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113.10000228881836,"y":243.99999904632568,"wires":[["18a9d1f7.35972e"]]},{"id":"18a9d1f7.35972e","type":"mqtt out","z":"957b4b9.fab6bb8","name":"INTERRUPTOR","topic":"led41","qos":"","retain":"","broker":"4047518a.18512","x":345.5,"y":97.00000190734863,"wires":[]},{"id":"594c966f.425d08","type":"mqtt in","z":"957b4b9.fab6bb8","name":"","topic":"led41","qos":"2","datatype":"auto","broker":"4047518a.18512","x":122.5,"y":327,"wires":[["c63d4987.6780c8"]]},{"id":"35cd5ee9.1aa5c2","type":"arduino in","z":"957b4b9.fab6bb8","name":"Temp","pin":"0","state":"ANALOG","arduino":"6156eb1c.17e364","x":85.50000190734863,"y":430.0000057220459,"wires":[["46715b1f.c56224"]]},{"id":"2ff40a87.bbf486","type":"function","z":"957b4b9.fab6bb8","name":"","func":"msg.payload = (msg.payload * 0.48828125).toFixed(2);\ncontext.global.temperatura = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":391.50000381469727,"y":428.00000381469727,"wires":[["df02cb8a.982318","fffab3bd.9bcfe","d2b8bb2f.72a918"]]},{"id":"df02cb8a.982318","type":"debug","z":"957b4b9.fab6bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":524.5000038146973,"y":357.00000381469727,"wires":[]},{"id":"46715b1f.c56224","type":"delay","z":"957b4b9.fab6bb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":243.5,"y":430.66666984558105,"wires":[["2ff40a87.bbf486"]]},{"id":"9bd7dc8d.0619","type":"ui_button","z":"957b4b9.fab6bb8","name":"","group":"e8b11393.58c22","order":2,"width":"3","height":"1","passthru":false,"label":"Ligar","tooltip":"","color":"","bgcolor":"#2E8B57","icon":"","payload":"1","payloadType":"num","topic":"","x":139.1666488647461,"y":124.88889026641846,"wires":[["18a9d1f7.35972e"]]},{"id":"bae09ace.d206b8","type":"ui_button","z":"957b4b9.fab6bb8","name":"","group":"e8b11393.58c22","order":1,"width":"3","height":"1","passthru":false,"label":"Desligar","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"num","topic":"","x":137.1666717529297,"y":82.88888931274414,"wires":[["18a9d1f7.35972e"]]},{"id":"fffab3bd.9bcfe","type":"ui_gauge","z":"957b4b9.fab6bb8","name":"","group":"920d744.a461588","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"celsius","format":"{{value}}","min":"-10","max":"40","colors":["#055aaf","#26bf64","#ca3838"],"seg1":"","seg2":"","x":544.1666984558105,"y":493.8888912200928,"wires":[]},{"id":"d2b8bb2f.72a918","type":"switch","z":"957b4b9.fab6bb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"num"},{"t":"lt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":541.5,"y":424,"wires":[["35ae208e.9dd04"],[]]},{"id":"a1ff1d19.d8071","type":"ui_toast","z":"957b4b9.fab6bb8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":762,"y":380,"wires":[]},{"id":"35ae208e.9dd04","type":"function","z":"957b4b9.fab6bb8","name":"","func":"msg.payload = \"Ta pegando fogo bicho\";\nreturn msg;","outputs":1,"noerr":0,"x":679.5,"y":432,"wires":[["a1ff1d19.d8071"]]},{"id":"7c3923d1.546f9c","type":"ui_audio","z":"957b4b9.fab6bb8","name":"","group":"920d744.a461588","voice":"pt-BR","always":"","x":765,"y":313,"wires":[]},{"id":"2b648ac6.bbf606","type":"http in","z":"957b4b9.fab6bb8","name":"","url":"temperatura","method":"get","upload":false,"swaggerDoc":"","x":168.8461685180664,"y":549.7948970794678,"wires":[["66853ebb.7358c"]]},{"id":"108d4690.90fb29","type":"http response","z":"957b4b9.fab6bb8","name":"","statusCode":"","headers":{},"x":510.3846626281738,"y":549.9487915039062,"wires":[]},{"id":"66853ebb.7358c","type":"function","z":"957b4b9.fab6bb8","name":"","func":"dados = {\n    temperatura : context.global.temperatura\n}\n\nmsg.payload = JSON.stringify(dados);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["108d4690.90fb29"]]},{"id":"89a545ff.d06858","type":"mongodb in","z":"957b4b9.fab6bb8","mongodb":"97d690ec.f6735","name":"PESQUISAR","collection":"temperatura-18","operation":"find","x":318.0769577026367,"y":627.436071395874,"wires":[["34b032f4.7aba2e"]]},{"id":"dd47f064.f2b13","type":"mongodb out","z":"957b4b9.fab6bb8","mongodb":"c176f79d.484ab8","name":"SALVAR","collection":"temperatura-18","payonly":false,"upsert":false,"multi":false,"operation":"store","x":660,"y":1020,"wires":[]},{"id":"2f57acf8.3b0ea4","type":"inject","z":"957b4b9.fab6bb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110.38460364708531,"y":625.8974456787108,"wires":[["89a545ff.d06858"]]},{"id":"25e13bb0.bc5b34","type":"inject","z":"957b4b9.fab6bb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155.76923076923072,"y":965.1282092974735,"wires":[["68869ac4.f78af4"]]},{"id":"68869ac4.f78af4","type":"function","z":"957b4b9.fab6bb8","name":"","func":"return {\n    \"sensor\" : \"sensor-41\",\n    \"valor\" : 22,\n    \"data\" : Date.now()\n}","outputs":1,"noerr":0,"x":344.9999765249398,"y":968.512843462137,"wires":[["dd47f064.f2b13"]]},{"id":"34b032f4.7aba2e","type":"debug","z":"957b4b9.fab6bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":555.7692794799805,"y":625.2821283340454,"wires":[]},{"id":"a85bb5e9.320bd8","type":"inject","z":"957b4b9.fab6bb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111.76924133300781,"y":699.3334636688232,"wires":[["9ed49b74.915558"]]},{"id":"8c972821.6d2b98","type":"debug","z":"957b4b9.fab6bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":708.8462066650391,"y":695.6411018371582,"wires":[]},{"id":"9ed49b74.915558","type":"mongodb in","z":"957b4b9.fab6bb8","mongodb":"c176f79d.484ab8","name":"","collection":"temperatura-18","operation":"find","x":410,"y":700,"wires":[["8c972821.6d2b98"]]},{"id":"16eb480a.3af968","type":"http in","z":"957b4b9.fab6bb8","name":"","url":"insere-temp","method":"post","upload":false,"swaggerDoc":"","x":203.47116323617786,"y":806.1393679105316,"wires":[["8778101.87b53f","85934336.9977a"]]},{"id":"8778101.87b53f","type":"http response","z":"957b4b9.fab6bb8","name":"","statusCode":"","headers":{},"x":468.0865243765023,"y":800.8749448336087,"wires":[]},{"id":"85934336.9977a","type":"function","z":"957b4b9.fab6bb8","name":"","func":"msg.payload.data = Date.now();\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":327.31729360727155,"y":866.4422431358922,"wires":[["f37146fd.3812e8","924f220d.35937"]]},{"id":"f37146fd.3812e8","type":"debug","z":"957b4b9.fab6bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":860,"wires":[]},{"id":"924f220d.35937","type":"function","z":"957b4b9.fab6bb8","name":"","func":"return {\n    \"sensor\" :  JSON.parse(msg.payload).sensor,\n    \"valor\" :  JSON.parse(msg.payload).valor,\n    \"data\" :  JSON.parse(msg.payload).data,\n}","outputs":1,"noerr":0,"x":490,"y":920,"wires":[["dd47f064.f2b13"]]}]